* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ### Theme 1 */
  /* #### Backgrounds */
  --Very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
  --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(
    223,
    31%,
    20%
  );
  --Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
  /* #### Keys */
  --Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
  --Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);
  --Red-key-background-toggle: hsl(6, 63%, 50%);
  --Dark-red-key-shadow: hsl(6, 70%, 34%);
  --Light-grayish-orange-key-background: hsl(30, 25%, 89%);
  --Grayish-orange-key-shadow: hsl(28, 16%, 65%);
  --Light-gray-main-background: hsl(0, 0%, 90%);
  --Grayish-red-toggle-background-keypad-background: hsl(0, 5%, 81%);
  --Very-light-gray-screen-background: hsl(0, 0%, 93%);
  --Dark-moderate-cyan-key-background: hsl(185, 42%, 37%);
  --Very-dark-cyan-key-shadow: hsl(185, 58%, 25%);
  --Orange-key-background-toggle: hsl(25, 98%, 40%);
  --Dark-orange-key-shadow: hsl(25, 99%, 27%);
  --Light-grayish-yellow-key-background: hsl(45, 7%, 89%);
  --Dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);
  --very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --White-text: hsl(0, 0%, 100%);
  --T3-Very-dark-violet-mainbackground: hsl(268, 75%, 9%);
  --T3-Very-dark-violet-toggle-background-keypad-background-screen-background: hsl(
    268,
    71%,
    12%
  );
  --T3-Dark-violet-key-background: hsl(281, 89%, 26%);
  --T3-Vivid-magenta-key-shadow: hsl(285, 91%, 52%);
  --T3-Pure-cyan-key-background-toggle: hsl(176, 100%, 44%);
  --T3-Soft-cyan-key-shadow: hsl(177, 92%, 70%);
  --T3-Very-dark-violet-key-background: hsl(268, 47%, 21%);
  --T3-dark-magenta-key-shadow: hsl(290, 70%, 36%);
  --T3-Light-yellow: hsl(52, 100%, 62%);
  --T3-Very-dark-blue: hsl(198, 20%, 13%);
  --T3-White-text: hsl(0, 0%, 100%);
}

.theme-1 main {
  background-color: var(--Very-dark-desaturated-blue-main-background);
  height: 100vh;
  width: 100vw;
}
.theme-1 .calc {
  font-weight: 800;
  font-size: 20px;
  color: white;
}
.theme-1 .theme-txt {
  color: white;
  font-size: 10px;
}
.theme-1 .btn-primary {
  background-color: var(--Very-dark-desaturated-blue-screen-background) !important;
  border: none;
  font-size: 10px !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.theme-1 .btn-primary:hover {
  background-color: var(--Red-key-background-toggle) !important;
  cursor: pointer;
}
.theme-1 .btn-primary:active {
  background-color: var(--Dark-red-key-shadow) !important;
}
.theme-1 .btns {
  background-color: var(--Very-dark-desaturated-blue-screen-background);
}
.theme-1 .del-btn,
.theme-1 .reset-btn {
  background-color: var(--Desaturated-dark-blue-key-background) !important;
  color: white;
  font-size: 16px !important;
}
.theme-1 .del-btn:hover,
.theme-1 .reset-btn:hover {
  background-color: var(--Desaturated-dark-blue-key-shadow) !important;
}
.theme-1 .equal-btn {
  background-color: var(--Red-key-background-toggle) !important;
  color: white;
  width: 100% !important;
  font-size: 16px !important;
  height: 50px !important;
}
.theme-1 .equal-btn:hover {
  background-color: hsl(6, 67%, 65%) !important;
}
.theme-1 .reset-btn {
  width: 100% !important;
  height: 50px !important;
}
.theme-1 .btn {
  background-color: white;
  width: 100%;
  height: 40px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin: auto;
}
.theme-1 input {
  background-color: var(--Very-dark-desaturated-blue-screen-background);
  color: white;
  height: 70px;
  font-size: 2rem !important;
  font-weight: 600;
  border: none;
}

.theme-2 main {
  background-color: var(--Light-gray-main-background);
  height: 100vh;
  width: 100vw;
}
.theme-2 .calc {
  font-weight: 800;
  font-size: 20px;
  color: var(--very-dark-grayish-yellow);
}
.theme-2 .theme-txt {
  color: var(--very-dark-grayish-yellow);
  font-size: 10px;
  font-weight: 800;
}
.theme-2 .btn-primary {
  background-color: var(--Grayish-red-toggle-background-keypad-background) !important;
  border: none;
  font-size: 10px !important;
  font-weight: 800 !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  color: var(--very-dark-grayish-yellow);
}
.theme-2 .btn-primary:hover {
  background-color: var(--Dark-moderate-cyan-key-background) !important;
  color: white;
}
.theme-2 .btn-primary:active {
  background-color: var(--Dark-red-key-shadow) !important;
}
.theme-2 .btns {
  background-color: var(--Grayish-red-toggle-background-keypad-background) !important;
  height: 300px !important;
}
.theme-2 .del-btn,
.theme-2 .reset-btn {
  background-color: var(--Dark-moderate-cyan-key-background) !important;
  color: white !important;
  font-size: 16px !important;
}
.theme-2 .equal-btn {
  background-color: var(--Orange-key-background-toggle) !important;
  color: white !important;
  width: 100% !important;
  font-size: 16px !important;
  height: 50px !important;
}
.theme-2 .reset-btn {
  width: 100% !important;
  height: 50px !important;
}
.theme-2 .btn {
  background-color: white;
  width: 90px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin: auto;
  color: var(--very-dark-grayish-yellow);
}
.theme-2 input {
  background-color: white;
  color: var(--very-dark-grayish-yellow);
  height: 70px;
  font-size: 2rem !important;
  font-weight: 600;
  border: none;
}

.theme-3 main {
  background-color: var(--T3-Very-dark-violet-mainbackground);
  height: 100vh;
  width: 100vw;
}
.theme-3 .calc {
  font-weight: 800;
  font-size: 20px;
  color: var(--T3-Light-yellow);
}
.theme-3 .theme-txt {
  color: var(--T3-Light-yellow);
  font-size: 10px;
  font-weight: 800;
}
.theme-3 .btn-primary {
  background-color: var(--T3-Very-dark-violet-toggle-background-keypad-background-screen-background) !important;
  border: none;
  font-size: 10px !important;
  font-weight: 800 !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  color: var(--T3-Pure-cyan-key-background-toggle) !important;
}
.theme-3 .btn-primary:hover {
  background-color: var(--T3-Dark-violet-key-background) !important;
  color: white;
}
.theme-3 .btn-primary:active {
  background-color: var(--T3-dark-magenta-key-shadow) !important;
}
.theme-3 .btns {
  background-color: var(--T3-Very-dark-violet-toggle-background-keypad-background-screen-background) !important;
  height: 300px !important;
}
.theme-3 .del-btn,
.theme-3 .reset-btn {
  background-color: var(--T3-Dark-violet-key-background) !important;
  color: white !important;
  font-size: 16px !important;
}
.theme-3 .equal-btn {
  background-color: var(--T3-Pure-cyan-key-background-toggle) !important;
  color: var(--T3-Very-dark-violet-mainbackground) !important;
  width: 100% !important;
  font-size: 16px !important;
  height: 50px !important;
}
.theme-3 .reset-btn {
  width: 100% !important;
  height: 50px !important;
}
.theme-3 .btn {
  background-color: var(--T3-Very-dark-violet-key-background);
  width: 90px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin: auto;
  color: var(--T3-Light-yellow);
}
.theme-3 input {
  background-color: var(--T3-Very-dark-violet-toggle-background-keypad-background-screen-background) !important;
  color: var(--T3-Light-yellow);
  height: 70px;
  font-size: 2rem !important;
  font-weight: 600;
  border: none;
}

.attribution {
  font-size: 10px;
  color: var(--Desaturated-dark-blue-key-background);
}

a {
  font-size: 10px;
  color: white;
}/*# sourceMappingURL=styles.css.map */